/// Taken from https: //github.com/carpentries/varnish/blob/c59c9ed79746d6d490486f0ebd3245f9edeb7f3a/source/stylesheets/footer.scss

.footer {
	margin-top: 25px;
	font-family: Mulish;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	padding-top: 5px;
	padding-bottom: 95px;
}

.footer p {
	padding-left: 20px;
}
