/// Taken from https: //github.com/carpentries/varnish/blob/c59c9ed79746d6d490486f0ebd3245f9edeb7f3a/source/stylesheets/schedule.scss

.schedule-heading{
  margin-top: 110px;
  margin-bottom: 50px;
}

.schedule {
  margin-bottom: 25px;
}

.schedule td {
  padding-top: 25px;
  padding-bottom: 25px;
}

@include media-breakpoint-up(md) {

  .schedule tr td:first-child {
    padding-left: 50px;
    white-space: nowrap;
  }
}
